Library/CurrentMaximizeLayout.dwlt
Assets/01-Script/UI.cs.meta
Assets/01-Script/UI.cs
.vs/DownStairs/v15/Server/sqlite3/storage.ide-wal
.vs/DownStairs/v15/Server/sqlite3/storage.ide-shm
.vs/DownStairs/v15/Server/sqlite3/storage.ide
.vs/DownStairs/v15/Server/sqlite3/db.lock
.vs/DownStairs/v15/.suo
Library/metadata/84/84d253d7fdcbf3f4db230ad156961c89.info
Library/metadata/84/84d253d7fdcbf3f4db230ad156961c89
Library/ShaderCache/7/7c55024901f570ea139064159b86fef4.bin
Library/ShaderCache/6/63793b4b96ef36203b8d8a7254cb0b0a.bin
